<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Privacy Policy | Public Reporter</title>
</head>
<body>
    <p>Terms of Use – INDIA</p>
    <p>PINHOLE MEDIA, having its office at 118/3A, Sudarshan Cinema Road, Gautam Nagar, Delhi –
    110049, India, and/or its affiliates and subsidiaries (collectively, “Pinhole Media” “we” or “us”)
    are pleased to provide to you certain Web Applications (“App”), content, products, and
    services (“Pinhole Media Product” and “Products”), which may be branded PUBLIC REPOTER,
    or another brand owned or licensed by Pinhole Media.</p>
    <p>EFFECTIVE DATE 18<sup>th</sup> September,2021 PLEASE READ THESE TERMS AND CONDITIONS
    CAREFULLY BEFORE USING THE PINHOLE MEDIA PRODUCTS. BY USING THE PINHOLE MEDIA
    PRODUCTS, YOU AGREE TO BE BOUND BY THESE TERMS AND ANY SPECIFIC AND/OR
    SUPPLEMENTAL TERMS AND CONDITIONS.</p>
    <p>The following terminology applies to these Terms and Conditions, Privacy Statement and
    Disclaimer Notice and any or all Agreements: "Client", “You” and “Your” refers to you, the
    person accessing this website or App and accepting the Company’s terms and conditions. "The
    Company", “Ourselves”, “We”, “Our” and "Us", refers to our Company. “Party”, “Parties”, or
    “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer
    to the offer, acceptance and consideration of payment necessary to undertake the process of
    our assistance to the Client in the most appropriate manner, whether by formal meetings of a
    fixed duration, or any other means, for the express purpose of meeting the Client’s needs in
    respect of provision of the Company’s stated services/products, in accordance with and subject
    to, prevailing law of India. Any use of the above terminology or other words in the singular,
    plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as
    referring to same.</p>
    <p>Terms of Use:</p>
    <p>You represent to PUBLIC REPOTER that you have read, understood, and expressly agree to be
    bound by this Agreement, and the terms, conditions, and notices contained or referenced
    herein, whether you have created a PUBLIC REPOTER account (and agree to this Agreement at
    the time you created that account) or whether you simply browse, use, or access a PINHOLE
    MEDIA Product offered directly by PUBLIC REPOTER or through a third party (and agree to this
    Agreement when you browse, use, or access any aspect of the PINHOLE MEDIA Product). If you
    do not agree to the Agreement, you may not use the PINHOLE MEDIA Products.</p>
    <p>Amendments:</p>
    <p>We may need to make changes to any portion of this Agreement from time to time and for
    many reasons, including to reflect updates to the PINHOLE MEDIA Products or changes in the
    law. If we make any material change to this Agreement, it'll be effective thirty (30) days
    following either our dispatch of a notice to you or our posting of the amended terms through
    the PINHOLE MEDIA Products, the third party that makes PINHOLE MEDIA Products available
    to you. You are liable for periodically reviewing this Agreement for updates and amendments.
    By continuing to use the PINHOLE MEDIA Products you will be deemed to have agreed to and
    accepted any amendments. If you do not agree to any change to this Agreement, you must
    discontinue using the PINHOLE MEDIA Products. Our customer service representatives are not
    authorized to change/modify any provision of this Agreement, either verbally or in writing.</p>
    <p>Accounts:</p>
    <p>Some PINHOLE MEDIA Products permit or require you to create an account to participate or
    to secure additional benefits. You concur that any data you give and keep up with is exact,
    current, and complete, including your contact detail for notice and other details from us and
    your payment detail. You agree to not impersonate or misrepresent your affiliation with a
    person or entity, including using another person’s username, password, or other account
    information, or another person’s name or resemblance, or give wrong details for a parent or
    guardian. You concur that we might find ways to check the exactness of the information you
    give, including contact data for a parent or guardian.</p>
    <p>Passwords and Security:</p>
    <p>You concur that you'll not share your account or account details with others. You are liable for
    finding a way to sensible ways to keep up with the secrecy of your username and password,
    and you are liable for all activities under your record that you can sensibly control. You agree
    to promptly notify us of any unauthorized use of your username, password or other account
    information, or of any other breach of security that you become aware of involving your
    account or the PINHOLE MEDIA Products.</p>
    <p>Termination or Suspension:</p>
    <p>We may terminate or suspend your access to any PINHOLE MEDIA Products, and/or terminate
    this Agreement subject to the survival of terms as provided below, if required by law, or if we
    have objective reason to believe you have used the PINHOLE MEDIA Products in violation of
    any provision of this Agreement or any supplemental terms, and/or if you engage in or
    encourage infringement or any other illegal conduct as it relates to your use of the PINHOLE
    MEDIA Products.</p>
    <p>Consumer License:</p>
    <p>If a Disney Product, or third party providing PINHOLE MEDIA Products subject to this
    Agreement, is configured to enable the use of software, content, virtual items or other
    materials owned or licensed by us, we grant you a limited, non-exclusive, non-sublicensable,
    non-transferable license to access and use in the INDIA such software, content, virtual item or
    other material for your personal, non-commercial use only, only for as long as that PINHOLE
    MEDIA Product is made available to you by us, or an authorized third party, and only in
    accordance with this Agreement and/or the specific terms that apply to that PINHOLE MEDIA
    Product, with no right to reproduce, distribute, communicate to the public, make available to
    the public, or transform any PINHOLE MEDIA Product, in any media format or channel now
    known or hereafter devised (except as may be expressly described or contemplated within the
    PINHOLE MEDIA Product). This is a license agreement and not an agreement for sale or
    assignment of any rights in the PINHOLE MEDIA Products. Except as we specifically agree in
    writing, no element of the PINHOLE MEDIA Products may be used or exploited in any way other
    than as part of the authorized Product made available to you. You may own the physical media
    on which elements of the PINHOLE MEDIA Products are made available to you, but we retain
    full and complete ownership of the PINHOLE MEDIA intellectual property. We do not transfer
    title to any portion of the PUBLIC REPOTER websites, software, applications (“App”), content,
    virtual items or other materials and/or services to you. Likewise, the purchase of a license to
    use any PINHOLE MEDIA Product does not create an ownership interest in the PUBLIC REPOTER
    websites, software, applications (“App”), content, virtual items or other materials and/or
    services.</p>
    <p>Third-Party Services or Platforms:</p>
    <p>The PINHOLE MEDIA Products may integrate, be integrated into, or be provided in connection
    with third-party websites, services, applications(“App”), platforms, and/or content. We do not
    control those third-parties or the products they make available. You should read the terms of
    use agreements and privacy policies that apply to such third-party products. If you access a
    PINHOLE MEDIA Product using an Apple iOS, Android or Microsoft Windows-powered device
    or Microsoft Xbox One, Apple Inc., Google, Inc. or Microsoft Corporation, respectively, shall be
    a third-party beneficiary of this contract. Hence, these third-party beneficiaries are not a party
    to this contract. You agree that your access to the PINHOLE MEDIA Products using these
    devices also shall be subject to the usage terms set forth in the applicable third-party
    beneficiary’s terms of service. You represent to PUBLIC REPOTER that you have read and
    agreed to those terms.</p>
    <p>App Permissions:</p>
    <p>When you use the PINHOLE MEDIA Products, you may grant certain permissions to us for your
    device and/or accounts as mentioned in PRIVACY POLICY. Most mobile device platforms
    provide additional information regarding these permissions and how, if possible, to changes
    your permission settings. By downloading, installing or using the PINHOLE MEDIA Products,
    you agree to receive automatic software updates (as applicable).</p>
    <p>Malware/Spyware:</p>
    <p>You agree not to knowingly or recklessly introduce a virus or other harmful component, or
    otherwise tamper with, impair or damage any PINHOLE MEDIA Product or connected network,
    or interfere with any person or entity’s use or enjoyment of any PINHOLE MEDIA Product. You
    agree not to use any software or device that allows automated gameplay, expedited gameplay,
    or other manipulation of gameplay or game client and you agree not to cheat or otherwise
    modify a PINHOLE MEDIA Product or game experience to create an advantage for one user
    over another.</p>
    <p>Subscriptions:</p>
    <p>Some PINHOLE MEDIA Products require paid subscriptions and the acceptance of
    supplemental terms to access. By signing up for a subscription, you agreed that your
    subscription will automatically be renewed and, unless you cancel your subscription, you
    authorized us to charge your payment method for the renewal term. You agree that we may
    change the terms of the subscription with advance notice to you and a chance for you to
    cancel. The period of auto-renewal will be the equivalent of your initial subscription period
    unless otherwise disclosed to you. The renewal rate won't be more than the rate for the
    immediately prior subscription period, excluding any promotional and discount pricing, unless
    we notify you of a rate change before your auto-renewal, during which you'll have the proper
    right to cancel the renewal of your subscription. From time to time, we may offer a free trial
    subscription for a PINHOLE MEDIA Product. If you register for a free trial subscription, we'll
    begin to bill your account when the free trial subscription expires, unless you cancel your
    subscription before that point in time.</p>
    <p>Unless otherwise disclosed when you subscribe, you have the right to cancel your PINHOLE
    MEDIA Product subscription. When a subscription is cancelled, you will not receive a prorated
    refund, but you'll continue to have access to the PINHOLE MEDIA Products until the end of the
    term during which you cancelled the subscription. If you cancel your subscription, you will still
    be obligated to pay other charges incurred by you in the course of using the PINHOLE MEDIA
    Product prior to the date of cancellation. If you pay a periodic subscription fee for a PINHOLE
    MEDIA Product, we will provide you with reasonable notice of changes to the fees or billing
    methods in advance of their effective date and you'll be able to cancel your subscription prior
    to such change. If you subscribed online, we'll offer you the choice of cancelling the
    subscription online.</p>
    <p>Payments and Billing:</p>
    <p>When you provide payment information, you represent and warrant that the provided details
    are accurate, that you simply are authorized to use the payment method provided, which you'll
    notify us of changes to the payment information. We reserve the absolute right to utilize thirdparty payment card updating services to get current expiration dates on credit cards and debit
    cards.</p>
    <p>Digital Content:</p>
    <p>When you purchase a license to access digital content or virtual items, you'll be given an
    opportunity to consent to delivery at the time of purchase. By consenting to delivery, you
    acknowledge that you simply have lost the right to cancel. License purchase amounts paid for
    digital content are non-refundable.</p>
    <p>Pricing; Taxes:</p>
    <p>We may revise the pricing for the PINHOLE MEDIA Products we offer. When you place your
    order, we estimate the applicable tax and include that estimate within the total for your
    convenience. Except to the extent required under applicable tax laws, the particular tax
    amount which will be applied to your order and charged to your payment method relies on
    calculations on the date of when the order was placed.</p>
    <p>Contests, Sweepstakes and Promotions:</p>
    <p>Contests, sweepstakes and other similar promotions that you enter on a PINHOLE MEDIA
    Product or in connection with PINHOLE MEDIA Products integrated with a third-party website,
    service, application, platform, and/or content (“PINHOLE MEDIA Promotions”) may be subject
    to official rules and/or conditions that are supplemental to this Agreement, and which may
    provide details governing the PUBLIC REPOTER Promotion such as eligibility requirements,
    entry instructions, deadlines, prize information and restrictions. If you wish to participate in
    any PUBLIC REPOTER Promotion, please first review the applicable Promotion official rules
    and/or conditions. If a PUBLIC REPOTER Promotion’s official rules and/or conditions conflict
    with this Agreement, the provisions contained in the official rules and/or conditions govern
    and control the PUBLIC REPOTER Promotion. Your entry in to a PUBLIC REPOTER Promotion
    constitutes User Generated Content and is subject to all provisions of this Agreement that
    govern your submission and our use of your User Generated Content.</p>
    <p>Disclaimers and Limitation on Liability:</p>
    <p>PLEASE REFER TO THE HELP SECTION OF THE APPLICABLE PINHOLE MEDIA PRODUCT FOR
    ASSISTANCE IF A PINHOLE MEDIA PRODUCT IS NOT WORKING PROPERLY. It is your
    responsibility to make sure you follow installation instructions, have the minimum system
    requirements, update software as recommended, and consult our customer service resources
    if you encounter a problem with Pinhole Media Products.</p>
    <p>We shall not be responsible for delay or failure in performance for causes beyond our control
    or the other damage which doesn't result from a breach of our obligations under this
    Agreement.</p>
    <p>WE ARE NOT RESPONSIBLE FOR ANY LACK OF FUNCTIONALITY OR FAILURE TO PROVIDE ANY
    PART OF THE PINHOLE MEDIA PRODUCT(S), OR ANY LOSS OF CONTENT OR DATA THAT IS DUE
    TO: YOUR EQUIPMENT, DEVICES, OS, OR INTERNET CONNECTION; OR YOUR FAILURE TO suits
    SPECIFIED COMPATIBILITY REQUIREMENTS.</p>
    <p>Claims of Copyright Infringement:</p>
    <p>Notifications of claimed copyright infringement and counter notices must be sent to our
    Registered Address:</p>
    <p>PINHOLE MEDIA</p>
    <p>118/3A, Sudarshan Cinema Road,
    Gautam Nagar, Delhi – 110049, India</p>
    <p>Phone: <a href="tel:01149025438">011 49025438</a></p>
    <p>Email: <a href="mailto:pinholemedia.tv@gmail.com">pinholemedia.tv@gmail.com</a></p>

    <p>Note:- We are only able to accept notices in the languages in which this Agreement is made
    available by us.</p>
</body>
</html>